.App {
  text-align: center;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header .app {
  color: #890505;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.Movie-wrapper {
  width: 500px;
  background-color: #890505;
  color: #fff;
  border-radius: 10px;
}

.Movie-search {
  height: 40px;
  font-size: 20px;
  margin-bottom: 40px;
  padding: 7px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
}

.Movie-title {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}

.Movie-date{
  font-style: italic;

}
.Movie-rate {
  margin-bottom: 10px;
  font-weight: bold;
}